.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
}

.header-logo-blue {
    color: #2e2f42;
    font-family: "Raleway";
}

.address-link {
    letter-spacing: 0.02em;
}

.features {
    background-color: #2e2f42;
}

.hero-title {
    letter-spacing: 0.02em;
}

.hero-btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.our-portf {
    background-color: #FFF;
}

.our-portfolio-img[src^="./images/"][src$=".jpeg"],
.our-portfolio-img[src^="./images/"][src$=".jpg"] {
    width: 360px;
}

.footer-logo {
    color: #f4f4fd;
    font-family: "Raleway";
    line-height: 1.17;
}

.footer-text {
    letter-spacing: 0.02em;
}
